* General styles */
html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background-color: lightslategray;
  }

  h1 {
    color: lightslategray;
    background-color: black;
    border: 2px solid black;
  }
  
  p {
    color: black;
  }

  